{{partial 'public-header'}}
<div class="main-content">
  <section class="container" id="sign-up">
    <div class="row h-100">
      <div class="d-flex col-md-6 dotted-bg align-items-center justify-content-center">
        <img src="/images/painting-tools.png" alt="paining-tools" class="paining-tools">
      </div>
      <div class="d-flex col-md-6 align-items-center justify-content-center">
        <form class="in-form outlined" {{action 'signUp' on='submit'}}>
          <div class="logo-wrapper">
            <img src="/images/main-logo.png" alt="main-logo">
          </div>
          <h3 class="form-title">Let's get started</h3>
          {{input type="text" placeholder="First name" value=firstName required=true}}
          {{input type="email" placeholder="Email address" value=email required=true}}
          {{input type="password" placeholder="Password" value=password required=true}}
          {{input type="password" placeholder="Confirm password" value=passwordConfirmation required=true}}
          <input type="checkbox" name="remember-me" id="remember-me">
          <label for="remember-me">Remember me</label>
          <button type="submit" class="btn btn-primary btn-block btn-lg" disabled={{btnDisabled}}>Create account</button>
          <p class="text-center">
            By clicking this button, you agree to our <a href="#">Terms Of Service</a>.
          </p>
        </form>
      </div>
    </div>
  </section>
</div>
{{partial 'public-footer'}}
